<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduEra - Online Courses & Education</title>
    <link rel="icon" href="static/assets/images/logo1.png" />

    <!-- css link -->
    <link rel="stylesheet" href="static/assets/css/style.css" />
    <link rel="stylesheet" href="static/assets/css/media_queries.css" />

    <!-- Google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700;800;900&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- main container -->

    <div class="container">
      <!-- Header -->

      <header>
        <nav class="navbar">
          <div class="navbar-brand">
            <img src="static/assets/images/logo1.png" alt="Edu Era Logo" />
          </div>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#home">Why EduEra ?</a>
            </li>

            <li class="nav-item">
              <a href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#course">Courses</a>
            </li>

            <li class="nav-item">
              <a href="/studentform">Student Registration</a>
            </li>
            <li class="nav-item">
              <a href="/teacherform">Teacher Registration</a>
            </li>
            <li class="nav-item">
              <a href="#contact">Contact Us</a>
            </li>
          </ul>
          <br /><a href="/signinuser">
            <button class="btn btn-primary">
              <p class="btn-text">Sign In</p>
              <span class="square"></span></button
          ></a>

          <button class="nav-toggle-btn">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
          </button>
        </nav>
      </header>

      <main>
        <!-- #Home Section -->

        <section class="home" id="home">
          <div class="deco-shape shape-1">
            <img
              src="static/assets/images/shape-1.png"
              alt="art shape"
              width="70"
            />
          </div>
          <div class="deco-shape shape-2">
            <img
              src="static/assets/images/shape-2.png"
              alt="art shape"
              width="55"
            />
          </div>
          <div class="deco-shape shape-3">
            <img
              src="static/assets/images/shape-3.png"
              alt="art shape"
              width="120"
            />
          </div>
          <div class="deco-shape shape-4">
            <img
              src="static/assets/images/shape-4.png"
              alt="art shape"
              width="30"
            />
          </div>

          <div class="home-left">
            <p class="section-subtitle">Welcome to EduEra</p>

            <h1 class="main-heading">
              Start Your Future
              <span class="underline-img"
                >Education
                <img
                  src="static/assets/images/banner-line.png"
                  alt="underline"
                />
              </span>
            </h1>

            <p class="section-text">
              Our Teachers and Students are well educated and well qualified in
              their field and they treat everyone with equal respect.
            </p>

            <div class="home-btn-group">
              <button class="btn btn-primary">
                <p class="btn-text">Explore Courses</p>
                <span class="square"></span>
              </button>

              <button class="btn btn-primary">
                <p class="btn-text">Contact Us</p>
                <span class="square"></span>
              </button>
            </div>
          </div>

          <div class="home-right">
            <div class="img-box">
              <img
                src="static/assets/images/hero-banner.png"
                alt="banner image"
                class="banner-img"
              />

              <img
                src="static/assets/images/banner-aliment-icon-1.png"
                alt=""
                class="icon-1 smooth-zigzag-anim-1"
                width="250"
              />
              <img
                src="static/assets/images/banner-aliment-icon-2.png"
                alt=""
                class="icon-2 smooth-zigzag-anim-2"
                width="240"
              />
              <img
                src="static/assets/images/banner-aliment-icon-3.png"
                alt=""
                class="icon-3 smooth-zigzag-anim-3"
                width="195"
              />
              <img
                src="static/assets/images/banner-aliment-icon-4.png"
                alt=""
                class="icon-4 drop-anim"
              />
            </div>
          </div>
        </section>

        <!-- Course Category Section -->

        <section class="category">
          <p class="section-subtitle">Course Category</p>

          <h2 class="section-title">Explore Popular Courses</h2>

          <ul class="course-item-group">
            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/Kids.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/Kids.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Kids Learning</a>
                </h3>

                <p class="category-subtitle">Play and Learn</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/school.jpg"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/school.jpg"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">CBSE & ICSE</a>
                </h3>

                <p class="category-subtitle">Be The Best From Starting</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/course-category-icon-1.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/course-category-icon-1-w.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">JEE & NEET</a>
                </h3>

                <p class="category-subtitle">
                  Its Time To Complete Your Future
                </p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/Computer.PNG"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/Computer.PNG"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Learn Programming</a>
                </h3>

                <p class="category-subtitle">From Scratch :)</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/course-category-icon-2.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/course-category-icon-2-w.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Business Strategy</a>
                </h3>

                <p class="category-subtitle">Improve your business</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/course-category-icon-3.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/course-category-icon-3-w.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Learn Art & Design</a>
                </h3>

                <p class="category-subtitle">Fun & Challenging</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/course-category-icon-4.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/course-category-icon-4-w.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Learn Lifestyle</a>
                </h3>

                <p class="category-subtitle">New Skills, New You</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/course-category-icon-5.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/course-category-icon-5-w.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Learn Marketing</a>
                </h3>

                <p class="category-subtitle">Improve your business</p>
              </div>
            </li>

            <li class="course-category-item">
              <div class="wrapper">
                <img
                  src="static/assets/images/course-category-icon-6.png"
                  alt="category icon"
                  class="category-icon default"
                />

                <img
                  src="static/assets/images/course-category-icon-6-w.png"
                  alt="category icon white"
                  class="category-icon hover"
                />
              </div>

              <div class="course-category-content">
                <h3 class="category-title">
                  <a href="#">Learn Finance</a>
                </h3>

                <p class="category-subtitle">Fun & Challenging</p>
              </div>
            </li>
          </ul>
        </section>

        <!-- About Section -->

        <section class="about" id="about">
          <div class="about-left">
            <div class="img-box">
              <img
                src="static/assets/images/about-banner.png"
                alt="about person"
                class="about-img"
              />

              <img
                src="static/assets/images/banner-aliment-icon-1.png"
                alt=""
                class="icon-1 smooth-zigzag-anim-1"
                width="250"
              />
              <img
                src="static/assets/images/banner-aliment-icon-3.png"
                alt=""
                class="icon-2 smooth-zigzag-anim-3"
                width="195"
              />
            </div>
          </div>

          <div class="about-right">
            <p class="section-subtitle">About Us</p>

            <h2 class="section-title">
              We Help To Create Possibility & Success In Your Carrer!
            </h2>

            <p class="section-text">
              Every student can learn, Just not on the same day, or the same
              way.
            </p>

            <ul class="about-ul">
              <li>
                <ion-icon name="checkmark-circle"></ion-icon>
                <p>Being an independent learner.</p>
              </li>

              <li>
                <ion-icon name="checkmark-circle"></ion-icon>
                <p>Flexible timing of classes.</p>
              </li>

              <li>
                <ion-icon name="checkmark-circle"></ion-icon>
                <p>Recorded lectures on every topic.</p>
              </li>
            </ul>

            <button class="btn btn-primary">
              <p class="btn-text">GET STARTED TODAY</p>
              <span class="square"></span>
            </button>
          </div>
        </section>

        <!-- Course Section -->

        <section class="course" id="course">
          <p class="section-subtitle">Our Online Courses</p>

          <h2 class="section-title">Find The Right Online Course For You</h2>

          <div class="course-grid">
            <div class="course-card">
              <div class="course-banner">
                <img
                  src="static/assets/images/course-1.jpg"
                  alt="course banner"
                />
              </div>

              <div class="course-content">
                <h3 class="card-title">
                  <a href="#">Learn Full Stack Web Development.</a>
                </h3>

                <div class="wrapper border-bottom">
                  <div class="author">
                    <img
                      src="static/assets/images/teacher-1.png"
                      alt="course instructor image"
                      class="author-img"
                    />
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <p>5.0 (2k)</p>
                  </div>
                </div>

                <div class="wrapper">
                  <div class="enrolled">
                    <div class="icon-user">
                      <img
                        src="static/assets/images/student-icon.png"
                        alt="user icon"
                      />
                    </div>

                    <p>600k</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="course-card">
              <div class="course-banner">
                <img
                  src="static/assets/images/course-2.jpg"
                  alt="course banner"
                />
              </div>

              <div class="course-content">
                <h3 class="card-title">
                  <a href="#">Learn Data Science.</a>
                </h3>

                <div class="wrapper border-bottom">
                  <div class="author">
                    <img
                      src="static/assets/images/teacher-2.png"
                      alt="course instructor image"
                      class="author-img"
                    />
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <p>4.7 (5k)</p>
                  </div>
                </div>

                <div class="wrapper">
                  <div class="enrolled">
                    <div class="icon-user">
                      <img
                        src="static/assets/images/student-icon.png"
                        alt="user icon"
                      />
                    </div>

                    <p>545k</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="course-card">
              <div class="course-banner">
                <img
                  src="static/assets/images/course-3.jpg"
                  alt="course banner"
                />
              </div>

              <div class="course-content">
                <h3 class="card-title">
                  <a href="#">Government Exams.</a>
                  <p>Bank Exam, SSC Exam, UPSC CAPF & OTHERS....</p>
                </h3>

                <div class="wrapper border-bottom">
                  <div class="author">
                    <img
                      src="static/assets/images/teacher-3.png"
                      alt="course instructor image"
                      class="author-img"
                    />
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <p>4.1 (3k)</p>
                  </div>
                </div>

                <div class="wrapper">
                  <div class="enrolled">
                    <div class="icon-user">
                      <img
                        src="static/assets/images/student-icon.png"
                        alt="user icon"
                      />
                    </div>

                    <p>317k</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="course-card">
              <div class="course-banner">
                <img
                  src="static/assets/images/course-4.jpg"
                  alt="course banner"
                />
              </div>

              <div class="course-content">
                <h3 class="card-title">
                  <a href="#">Personal Development Courses.</a>
                </h3>

                <div class="wrapper border-bottom">
                  <div class="author">
                    <img
                      src="static/assets/images/teacher-4.png"
                      alt="course instructor image"
                      class="author-img"
                    />
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <p>4.8 (3.9k)</p>
                  </div>
                </div>

                <div class="wrapper">
                  <div class="enrolled">
                    <div class="icon-user">
                      <img
                        src="static/assets/images/student-icon.png"
                        alt="user icon"
                      />
                    </div>

                    <p>891k</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="course-card">
              <div class="course-banner">
                <img
                  src="static/assets/images/course-5.jpg"
                  alt="course banner"
                />
              </div>

              <div class="course-content">
                <h3 class="card-title">
                  <a href="#">Teaching & Academics Courses.</a>
                </h3>

                <div class="wrapper border-bottom">
                  <div class="author">
                    <img
                      src="static/assets/images/teacher-5.png"
                      alt="course instructor image"
                      class="author-img"
                    />
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <p>3.8 (1k)</p>
                  </div>
                </div>

                <div class="wrapper">
                  <div class="enrolled">
                    <div class="icon-user">
                      <img
                        src="static/assets/images/student-icon.png"
                        alt="user icon"
                      />
                    </div>

                    <p>204k</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="course-card">
              <div class="course-banner">
                <img
                  src="static/assets/images/course-6.jpg"
                  alt="course banner"
                />
              </div>

              <div class="course-content">
                <h3 class="card-title">
                  <a href="#">Learn Business & Marketing.</a>
                </h3>

                <div class="wrapper border-bottom">
                  <div class="author">
                    <img
                      src="static/assets/images/teacher-6.png"
                      alt="course instructor image"
                      class="author-img"
                    />
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <p>4.9 (23k)</p>
                  </div>
                </div>

                <div class="wrapper">
                  <div class="enrolled">
                    <div class="icon-user">
                      <img
                        src="static/assets/images/student-icon.png"
                        alt="user icon"
                      />
                    </div>

                    <p>1.3M</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary">
            <p class="btn-text">View All Course</p>
            <span class="square"></span>
          </button>
        </section>

        <!-- Event Section -->

        <section class="event">
          <div class="event-left">
            <div class="event-banner">
              <img
                src="static/assets/images/event-img.jpg"
                alt="event banner"
                class="banner-img"
              />
            </div>

            <button class="play smooth-zigzag-anim-1">
              <div class="play-icon pulse-anim">
                <ion-icon name="play-circle"></ion-icon>
              </div>

              <p>Watch Us !</p>
            </button>
          </div>

          <div class="event-right">
            <p class="section-subtitle">Our Events</p>

            <h2 class="section-title">Join Our Upcoming Events</h2>

            <div class="event-card-group">
              <div class="event-card">
                <div class="content-left">
                  <p class="day">18</p>
                  <p class="month">Oct, 2022</p>
                </div>

                <div class="content-right">
                  <div class="schedule">
                    <p class="time">10:30am To 2:30pm</p>
                    <p class="place">Online</p>
                  </div>

                  <a href="#" class="event-name">Front-End Web Workshops</a>
                </div>
              </div>

              <div class="event-card">
                <div class="content-left">
                  <p class="day">25</p>
                  <p class="month">Oct, 2022</p>
                </div>

                <div class="content-right">
                  <div class="schedule">
                    <p class="time">10:30am To 2:30pm</p>
                    <p class="place">Online</p>
                  </div>

                  <a href="#" class="event-name"
                    >Python & Data Science Workshops
                  </a>
                </div>
              </div>

              <div class="event-card">
                <div class="content-left">
                  <p class="day">20</p>
                  <p class="month">Dem, 2022</p>
                </div>

                <div class="content-right">
                  <div class="schedule">
                    <p class="time">10:30am To 2:30pm</p>
                    <p class="place">Online</p>
                  </div>

                  <a href="#" class="event-name">JS & React.Js Workshop</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Features Section-->

        <section class="features">
          <div class="features-left">
            <p class="section-subtitle">Core Features</p>

            <h2 class="section-title">See What Our Mission Are</h2>

            <ul>
              <li class="features-item">
                <div class="item-icon-box blue">
                  <img
                    src="static/assets/images/feature-icon-1.png"
                    alt="feature icon"
                  />
                </div>

                <div class="wrapper">
                  <h3 class="item-title">Student Life</h3>

                  <p class="item-text">
                    Students can learn more independently wherever they are.
                    Without continuous supervision from the teacher, students
                    have the independence to carry out activities useful for
                    their learning process, such as reading, practicing,
                    repeating the material given, and many more
                  </p>
                </div>
              </li>

              <li class="features-item">
                <div class="item-icon-box pink">
                  <img
                    src="static/assets/images/feature-icon-2.png"
                    alt="feature icon"
                  />
                </div>

                <div class="wrapper">
                  <h3 class="item-title">Best Online Class</h3>

                  <p class="item-text">
                    We provide much more convenient and flexible online classes
                    as compared to traditional learning platforms. This
                    flexibility allows students to balance your school work,
                    family obligations, while also excelling in their studies.
                    We also enables you to access additional courses and pursue
                    hobbies too.
                  </p>
                </div>
              </li>

              <li class="features-item">
                <div class="item-icon-box purple">
                  <img
                    src="static/assets/images/feature-icon-3.png"
                    alt="feature icon"
                  />
                </div>

                <div class="wrapper">
                  <h3 class="item-title">24x7 Program</h3>

                  <p class="item-text">
                    Teachers guide you when you are stuck in any problem.
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="features-right">
            <img
              src="static/assets/images/coure-features-img.jpg"
              alt="core features image"
            />
          </div>
        </section>

        <!--EgleEyed Instructor Member-->

        <section class="instructor">
          <p class="section-subtitle">EduEra</p>

          <h2 class="section-title">Our Team Members</h2>

          <div class="instructor-grid">
            <div class="instructor-card">
              <div class="instructor-img-box">
                <img src="static/assets/images/Mohit1.jpg" alt="Mohit Mehra" />

                <div class="social-link">
                  <a href="#" class="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>

                  <a href="#" class="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>

                  <a href="#" class="twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </div>
              </div>

              <h4 class="instructor-name">Mohit Mehra</h4>

              <p class="instructor-title">Member</p>
            </div>

            <div class="instructor-card">
              <div class="instructor-img-box">
                <img src="static/assets/images/saurabh.jpg" alt="Sourabh" />

                <div class="social-link">
                  <a href="#" class="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>

                  <a href="#" class="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>

                  <a href="#" class="twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </div>
              </div>

              <h4 class="instructor-name">Sourabh</h4>

              <p class="instructor-title">Member</p>
            </div>

            <div class="instructor-card">
              <div class="instructor-img-box">
                <img
                  src="static/assets/images/abhyudya.jpg"
                  alt="Abhyudya Singh Ujala"
                />

                <div class="social-link">
                  <a href="#" class="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>

                  <a href="#" class="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>

                  <a href="#" class="twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </div>
              </div>

              <h4 class="instructor-name">Abhyudya Singh</h4>

              <p class="instructor-title">Leader</p>
            </div>

            <div class="instructor-card">
              <div class="instructor-img-box">
                <img src="static/assets/images/harsh.jpg" alt="Harsh Raj" />

                <div class="social-link">
                  <a href="#" class="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>

                  <a href="#" class="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>

                  <a href="#" class="twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </div>
              </div>

              <h4 class="instructor-name">Harsh Raj</h4>

              <p class="instructor-title">Member</p>
            </div>
          </div>
        </section>

        <!-- Testimonial -->

        <section class="testimonials">
          <div class="testimonials-left">
            <p class="section-subtitle">Testimonial</p>

            <h2 class="section-title">What Our Students Says About Us</h2>

            <p class="section-text"></p>
          </div>

          <div class="testimonials-right">
            <div class="testimonials-card">
              <img
                src="static/assets/images/quote.png"
                alt="quote icon"
                class="quote-img"
              />

              <p class="testimonials-text">
                "I really enjoyed the online course. I thought it was well
                planned and layed out, easy for me to follow. The work load(h.w.
                & test)was just enough, so i could finish everything with enough
                time, learn about the topics and not feel over loaded and
                rushed.".
              </p>

              <div class="testimonials-client">
                <div class="client-img-box">
                  <img
                    src="static/assets/images/client.jpg"
                    alt="client christine rose"
                  />
                </div>

                <div class="client-detail">
                  <h4 class="client-name">Shreya Raj</h4>

                  <p class="client-title">Student</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- contact -->

        <section class="contact">
          <div class="contact-card" id="contact">
            <img
              src="static/assets/images/cta-bg-img.png"
              alt="shape"
              class="contact-card-bg"
            />

            <h2>Create Free Account & Register</h2>

            <button class="btn btn-primary">
              <p class="btn-text">Contact Now</p>
              <span class="square"></span>
            </button>
          </div>
        </section>
      </main>

      <!-- Footer -->

      <footer>
        <div class="footer-grid">
          <div class="grid-item">
            <div class="footer-logo">
              <img
                src="static/assets/images/LOGO3.PNG"
                alt="educator logo white"
              />
            </div>

            <p class="footer-text">
              Come to learn whatever you want and also can earn from here to
              give lectures on a topic in which you are expert.
            </p>

            <div class="social-link">
              <a href="#">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
              <a href="#">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
              <a href="#">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
              <a href="#">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </div>
          </div>

          <ul class="grid-item">
            <h4 class="item-heading">Our Link</h4>

            <li class="list-item">
              <a href="#home">Home</a>
            </li>

            <li class="list-item">
              <a href="#course">Courses</a>
            </li>

            <li class="list-item">
              <a href="#contact">Contact Us</a>
            </li>
            <li class="list-item">
              <a href="#Student-login">Student Login</a>
            </li>
            <li class="list-item">
              <a href="#Teacher-login">Teacher Login</a>
            </li>
            <li class="list-item">
              <a href="#about">About Us</a>
            </li>
          </ul>

          <ul class="grid-item">
            <h4 class="item-heading">Other Link</h4>

            <li class="list-item">
              <a href="#">Instructor</a>
            </li>

            <li class="list-item">
              <a href="#">FAQ</a>
            </li>

            <li class="list-item">
              <a href="#">Event</a>
            </li>

            <li class="list-item">
              <a href="#">Privacy Policy</a>
            </li>

            <li class="list-item">
              <a href="#">Term & Condition</a>
            </li>
          </ul>

          <div class="grid-item">
            <h4 class="item-heading">Subscribe Now</h4>

            <div class="wrapper">
              <input type="text" name="subscribe" placeholder="Email Address" />

              <button class="send-btn">
                <ion-icon name="paper-plane"></ion-icon>
              </button>
            </div>
          </div>
        </div>

        <p class="copyright">© 2022 . All rights reserved.</p>
      </footer>
    </div>

    <!-- Javascript Link -->
    <script src="static/assets/js/script.js"></script>

    <!-- ionicon link -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
